.logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.header,
.main {
  padding: 20px;
}

.footer {
  padding: 20px;
}

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  font-size: calc(10px + 2vmin);
}

.link:hover {
  text-decoration: underline;
}

.link {
  color: #abe668;
}

.link.active {
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-float infinite 3s ease-in-out;
  }
}

@keyframes logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.primary.color {
  color: #a268e6;
}

.color.complementary {
  color: #abe668;
}

.color.analogous.a {
  color: #686ce6
}

.color.analogous.b {
  color: #e168e6
}

.color.triadic.a {
  color: #e668ab
}

.color.triadic.b {
  color: #e6a268
}

.box_primary {
  background: #a268e6;
  color: #abe668;
  width: 100%;
  padding: 4px;
}

.box_outside {
  background: #e668ab;
}